---
interface Props {
  id?: string;
  lang?: "en" | "nl";
  text: string;
  credit?: string;
  jobtitle?: string;
  source?: string;
  bgColor?:
    | "--color-henk-black"
    | "--color-henk-white"
    | "--color-accent5"
    | "--color-accent6"
    | "--color-accent11"
    | "--color-accent14"
    | "--color-accent16";
  textColor?: "--color-henk-black" | "--color-henk-white";
}

const {
  id,
  lang = "en",
  text,
  credit,
  jobtitle,
  source,
  bgColor = "--color-henk-white",
  textColor = "--color-henk-black",
} = Astro.props;
---

<section
  class="BlockQuoteBrick"
  id={id}
  lang={lang}
  style={`--color-background-bqb: var(${bgColor}); --color-text-bqb: var(${textColor});`}
>
  {
    credit ? (
      <blockquote>
        <h2 class="quote__text">{text}</h2>
        {credit && (
          <div class="quote__meta">
            <p class="quote__citation">{credit}</p>
            <p class="quote__jobtitle">{jobtitle}</p>
          </div>
          <cite>{source}</cite>
        )}
      </blockquote>
    ) : (
      <h2 class="quote__text">{text}</h2>
    )
  }
</section>

<!-- <hr />
<div class="sh-quote-block" lang="en" id="block02">
  <div
    class="sh-molecule-bg-box"
    style="
                    --color-background-component-bgbox: var(--color-henk-white, #f00);

                    --color-text-component-bgbox: var(--color-henk-black, #000);
                    "
  >
    <div class="sh-molecule-padding-box">
      <div class="component__layout-box">
        {
          credit ? (
            <blockquote>
              <p class="quote__text h3">{text}</p>
              {credit && (
                <div class="quote__meta">
                  <p class="quote__citation">{credit}</p>
                  <p class="quote__jobtitle">{jobtitle}</p>
                </div>
              )}
            </blockquote>
          ) : (
            <p class="quote__text h3">{text}</p>
          )
        }
      </div>
    </div>
  </div>
</div> -->
