---
interface Props {
  order?: "reverse" | undefined;
  mediaSrc: string;
  mediaUrl?: string;
  isVideo?: boolean;
  alt?: string;
  title: string;
  subtitle?: string;
  buttonText?: string;
  buttonUrl?: string;
  url?: string;
  text?: string;
}

const {
  order,
  mediaSrc,
  mediaUrl,
  isVideo = false,
  alt="",
  title = "Title here!",
  subtitle,
  url,
  text = "Intro text here!",
  buttonText = "Button text",
  buttonUrl,
} = Astro.props;
---

<div class="sh-org-splitscreen SplitscreenBrick" data-order={order}>
  <div class="sh-org-splitscreen__grid SplitscreenBrick__grid">
    <div class="sh-org-splitscreen__grid-item SplitscreenBrick__grid-item">          
      <a
          class="sh-media-block__image__link sh-org-splitscreen__image-link"
          href={mediaUrl}
        >
        {
          isVideo ? (
            <video
              muted=""
              loop=""
              playsinline=""
              autoplay=""
              class="sh-org-splitscreen__video"
            >
              <source src={mediaSrc} type="video/mp4" />
              Sorry, your browser doesn't support embedded videos.
            </video>
          ) : (
            <figure class="sh-media-block__item sh-atom__figure">
            <!-- <img sizes="(min-width: 780px) 50vw, calc(100vw - 48px)" width="960" height="1090" alt="" title="" loading="lazy" src="https://www.studio-henk.nl/_default_upload_bucket/706003/image-thumb__706003__splitscreenBrickThumb/Studio%20HENK%20January%20Campaign%202023_-74_2.jpg" srcset="https://www.studio-henk.nl/_default_upload_bucket/706003/image-thumb__706003__splitscreenBrickThumb/Studio%20HENK%20January%20Campaign%202023_-74_2~-~media--3d7ba3b4--query.jpg 256w,
                                 https://www.studio-henk.nl/_default_upload_bucket/706003/image-thumb__706003__splitscreenBrickThumb/Studio%20HENK%20January%20Campaign%202023_-74_2~-~media--803de2ab--query.jpg 700w,
                                 https://www.studio-henk.nl/_default_upload_bucket/706003/image-thumb__706003__splitscreenBrickThumb/Studio%20HENK%20January%20Campaign%202023_-74_2~-~media--fd3f6f7c--query.jpg 1170w,
                                 https://www.studio-henk.nl/_default_upload_bucket/706003/image-thumb__706003__splitscreenBrickThumb/Studio%20HENK%20January%20Campaign%202023_-74_2~-~media--f757b4a7--query.jpg 1340w,
                                 https://www.studio-henk.nl/_default_upload_bucket/706003/image-thumb__706003__splitscreenBrickThumb/Studio%20HENK%20January%20Campaign%202023_-74_2~-~media--d48ef17a--query.jpg 1500w,
                                 https://www.studio-henk.nl/_default_upload_bucket/706003/image-thumb__706003__splitscreenBrickThumb/Studio%20HENK%20January%20Campaign%202023_-74_2~-~media--99465071--query.jpg 1700w,
                                 https://www.studio-henk.nl/_default_upload_bucket/706003/image-thumb__706003__splitscreenBrickThumb/Studio%20HENK%20January%20Campaign%202023_-74_2~-~media--5860a965--query.jpg 1880w,
                                "> -->
            <img src={mediaSrc} alt={alt} />
          </figure>
          )
        }
      </a>
    </div>
    <div
      class="sh-l-grid__item sh-org-splitscreen__grid-item sh-org-splitscreen__grid-item-text"
    >
      <header
        class="xsh-molecule-section-header --reverse-order sh-org-splitscreen__header"
      >
        <p
          class="sh-molecule-section-header__title h2 sh-org-splitscreen__header-title"
        >
          {title}
        </p>

        <p
          class="sh-molecule-section-header__subtitle sh-org-splitscreen__header-subtitle"
        >
          {subtitle}
        </p>
      </header>
      <div class="sh-section__content sh-org-splitscreen__content">
        <p class="sh-section__intro sh-org-splitscreen__content-intro">
          {text}
        </p>
        <a
          href={buttonUrl}
          class="sh-atom-button"
          data-style="filled"
        >
          {buttonText}
        </a>
      </div>
    </div>
  </div>
</div>
<style>
  .sh-org-splitscreen {
    padding: 24px 24px 48px 24px;
  }

  .sh-org-splitscreen .sh-org-splitscreen__grid {
    display: flex;
    flex-direction: column;
    column-gap: 0;
    max-width: none;
    row-gap: 1.5rem;
  }

  .sh-org-splitscreen
    .sh-org-splitscreen__grid-item
    .sh-org-splitscreen__video {
    object-fit: cover;
    width: 100%;
  }

  @media only screen and (max-width: 767px) {
    .sh-org-splitscreen
      .sh-org-splitscreen__grid-item
      .sh-org-splitscreen__video {
      aspect-ratio: 2/3;
      height: auto;
    }
  }

  @media only screen and (min-width: 768px) {
    .sh-org-splitscreen
      .sh-org-splitscreen__grid-item
      .sh-org-splitscreen__video {
      height: 100svh;
    }
  }

  .sh-org-splitscreen .sh-org-splitscreen__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    max-width: 30em;
    text-wrap: balance;
  }

  .sh-org-splitscreen .sh-org-splitscreen__header.--reverse-order {
    flex-direction: column-reverse;
  }

  .sh-org-splitscreen .sh-org-splitscreen__header-title {
    margin: 0;
  }

  .sh-org-splitscreen .sh-org-splitscreen__header-subtitle {
    margin: 0;
  }

  .sh-org-splitscreen .sh-org-splitscreen__content {
    max-width: 30em;
    text-wrap: balance;
  }

  @media only screen and (min-width: 1024px) {
    .sh-org-splitscreen {
      padding: 0;
    }

    .sh-org-splitscreen .sh-org-splitscreen__grid {
      flex-direction: row;
      align-items: center;
    }

    .sh-org-splitscreen .sh-org-splitscreen__grid-item {
      flex: 1 1 50%;
    }

    .sh-org-splitscreen[data-order="reverse"] .sh-org-splitscreen__grid {
      flex-direction: row-reverse;
    }

    .sh-org-splitscreen .sh-org-splitscreen__grid-item-text {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .sh-org-splitscreen .sh-org-splitscreen__header,
    .sh-org-splitscreen .sh-org-splitscreen__content {
      padding: 0 24px;
      align-items: center;
    }

    .sh-org-splitscreen .sh-org-splitscreen__header-title,
    .sh-org-splitscreen .sh-org-splitscreen__header-subtitle {
      text-align: center;
    }

    .sh-org-splitscreen .sh-org-splitscreen__content {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
</style>
