---
import { Picture } from "astro:assets";
import { Image } from "astro:assets";
// import storeRozengracht from "../../images/store-rozengracht.jpeg";

interface Props {
  image: string;
  name: string;
  buttonText: string;
  buttonHref: string;
  hoursLinkText?: string;
  hoursLinkHref?: string;
  directionsLinkText?: string;
  directionsLinkHref: string;
}

const {
  image,
  name,
  buttonText,
  buttonHref,
  hoursLinkText = "Adjusted Opening Hours",
  hoursLinkHref = "#adjusted-opening-hours",
  directionsLinkText = "Get directions",
  directionsLinkHref,
} = Astro.props;
---

<div class="StoreBrick__Block">
  <div class="StoreBrick__store-image-container">
    <!-- <picture>
      <Image
        src={image}
        alt="Photo of store front"
        width="598"
        height="747"
        class="StoreBrick__img"
        densities={[1, 2]}
        format="webp"
      />
    </picture> -->
    <!-- <Picture
      src={image}
      formats={["avif", "webp"]}
      width="598"
      height="747"
      alt="A description of my image."
      class="StoreBrick__img"
      pictureAttributes={{ class: "StoreBrick__Picture" }}
    /> -->
    <Picture
      src="/images/272x340.jpg"
      formats={["avif", "webp"]}
      width="272"
      height="340"
      alt="A description of my image."
      class="StoreBrick__img"
      pictureAttributes={{ class: "StoreBrick__Picture" }}
    />
  </div>
  <h3 class="StoreBrick__store-name">{name}</h3>
  <!-- wysiwyg texts -->
  <div class="StoreBrick__content">
    <slot />
  </div>
  <a
    class="sh-store__link"
    href={buttonHref + hoursLinkHref}
    title="Click to go to the store page"
  >
    {hoursLinkText}
  </a>
  <a class="sh-store__link" href={directionsLinkHref} target="_blank">
    {directionsLinkText}
  </a>
  <!-- button -->
  <a href={buttonHref} class="sh-atom-button" data-style="soft">{buttonText}</a>
</div>
