---
import BaseLayout from "../../layouts/BaseLayout.astro";
import HeroVideo from "../../components/bricks/HeroVideo.astro";
import SliderBrickVarA from "../../components/bricks/SliderBrickVarA.astro";
// import SplitscreenBrick from "../../components/bricks/SplitscreenBrick.bak.astro";
import SplitscreenBrick from "../../components/bricks/SplitscreenBrick.astro";
import BlogSlider from "../../components/bricks/BlogSlider.astro";
import BlockquoteBrick from "../../components/bricks/BlockquoteBrick.astro";
import BlogSlider1 from "../../components/bricks/BlogSlider1.astro";
import BlogSlider2 from "../../components/bricks/BlogSlider2.astro";
import DoubleImageBrick from "../../components/bricks/DoubleImageBrick.astro";
import FullwidthMediaBrick from "../../components/bricks/FullwidthMediaBrick.astro";
import FullwidthVideoBrick from "../../components/bricks/FullwidthVideoBrick.astro";
import HeroBrick from "../../components/bricks/HeroBrick.astro";
import SectionHeader from "../../components/bricks/SectionHeader.astro";
import UspBrick from "../../components/bricks/UspBrick.astro";
---

<BaseLayout title="Bricks" hasHero="true" Theme="dark" showMsgBar="false">
  <HeroVideo
    title="A longer title to see how it breaks"
    subtitle="This is a subtitle"
    text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad aliquid autem consequuntur enim et fuga harum id incidunt, iusto laboriosam minima officiis, provident sequi sint sunt veritatis vero vitae?"
    videoSRC="/static/std/assets/video/slant-sofa.mp4"
  />
  <SectionHeader
    title="Cart is currently empty"
    byline="New: Paste dining table"
  >
    <p>
      Our sofas are characterized by soft forms and modularity. Create a
      personal eye-catcher for your home.
    </p>
    <p>
      The characteristically shaped Slant Sofa is a statement in any interior:
      playful, dynamic, and inviting. It is the ideal sofa with seating comfort
      for everyone.
    </p>
    <p>
      Create your own unique Slant Sofa by choosing from various modular
      elements and fabrics.
    </p>
    <a href="/en/lala" class="sh-atom-button" data-style="filled"
      >Discover more</a
    >
  </SectionHeader>

  <HeroBrick
    title="A longer title to see how it breaks"
    subtitle="This is a subtitle"
    text="<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad aliquid autem consequuntur enim et fuga harum id incidunt, iusto laboriosam minima officiis, provident sequi sint sunt veritatis vero vitae?</p>"
    image="https://www.studio-henk.nl/Images/samples-landingpage/635088/image-thumb__635088__fullwidthmediaBrickThumb/slide1.jpg"
    url="#"
  />
  <HeroBrick
    title="10th Anniversary Collection"
    text="<p>PART 1</p>"
    url="/en/10th-anniversary-part-1#block02"
    hasScrollToAnchor={true}
    subtitle="subtitle here"
    buttonText="Discover <br /> more"
    image="https://www.studio-henk.nl/_default_upload_bucket/706021/image-thumb__706021__fullwidthmediaBrickThumb/Studio%20HENK%20January%20Campaign%202023_-30%20%282%29.jpg"
  />
  <SliderBrickVarA title="SliderBrickVarA Heading" swiperID="2" />
  <SplitscreenBrick
    mediaSrc="http://henk.local/Images/slant-campaign/976898/image-thumb__976898__splitscreenBrickThumb/HENK%20January%202024%20-%201%20%281%29~-~media--fd3f6f7c--query.jpg"
    mediaUrl="#"
    title="Win €1000 shopping credit"
    subtitle="SplitscreenBrick Subtitle"
    buttonText="Button text"
    url="#"
    hasSlotContent={true}
  >
    <p>
      Could your interior use a fresh update? Good news. We're giving you the
      chance to win €1,000 shopping credit at Studio HENK. Sign up for our
      newsletter now and follow us on Instagram, Facebook, or TikTok.
    </p>
    <p>
      For even more chances to win, tag your friends. Who knows, you might soon
      have that beautiful new piece of furniture that's been on your wishlist
      for a while in your home. The promotion runs until Sunday, January 28th.
    </p>
  </SplitscreenBrick>
  <SplitscreenBrick
    mediaSrc="/images/bcorp.jpg"
    title="A zero-waste furniture industry"
    subtitle="Our Mission"
    buttonText="Button text"
    order="reverse"
    hasSlotContent={true}
  >
    <p>
      As a B Corp, we want to use our business as a force for good. It's our
      mission to revolutionise the furniture industry from within, making it
      zero-waste. We strive to disrupt industry standards by creating beautiful
      furniture that is circular by design and made-to last, thereby positively
      impacting people and the planet. Discover more about our mission and B
      Corp status.
    </p>
  </SplitscreenBrick>
  <!-- <SplitscreenBrick
    mediaSrc="/images/bcorp.jpg"
    mediaUrl="/en/the-form-of-things"
    title="SplitscreenBrick 2"
    subtitle="SplitscreenBrick Subtitle"
    buttonText="Button text"
    buttonUrl="/en/the-form-of-things"
  /> -->
  <SplitscreenBrick
    mediaSrc="https://assets.studio-henk.nl/assets/Images/slant-campaign/Co.mp4"
    mediaUrl="/en/the-form-of-things"
    isVideo={true}
    title="SplitscreenBrick with Video"
    subtitle="video"
    buttonText="Button text"
    buttonUrl="/en/the-form-of-things"
    hasSlotContent={true}
  >
    <p slot="splitscreen-text">There is a video there !</p>
  </SplitscreenBrick>
  <BlockquoteBrick
    text="Organic shapes, soft lines, straight angles – the Studio Henk collection is characterised by a play with form. A fitting piece of furniture for every interior."
  />
  <BlockquoteBrick
    text="To Be or Not to Be."
    credit="W. Shakespeare"
    jobtitle="Poet"
    source="bla bla"
    bgColor="--color-accent16"
    textColor="--color-henk-white"
  />
  <!-- <BlogSlider1 />
  <BlogSlider2 /> -->
  <DoubleImageBrick
    largeImageTitle="Slim-X Wood Dining Table"
    largeImageCaption="Crafted elegance"
    image="/images/dib1.png"
    smallImageTitle="Slim-X Wood Dining Table"
    smallImageCaption="Available in a striking smoked oak finish"
    smallImage="/images/dib2.png"
    buttonText="Discover more"
    buttonURL="https://www.studio-henk.nl/en/slim-x-wood-dining-table"
  />

  <!-- <FullwidthMediaBrick />
  <FullwidthVideoBrick />
  -->
  <UspBrick />
</BaseLayout>
