---
import { getLangFromUrl } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const currentPath = Astro.url.pathname.substring(4);
let otherLang;
if (lang == "nl") {
  otherLang = "en";
} else {
  otherLang = "nl";
}
let otherURL = "/" + otherLang + "/" + currentPath;

// import primaryNav from "../../public/data/navigation_data.json";
import Icon from "./astro/Icon.astro";
import { IconSizes, SvgStructure } from "../../types/iconTypes";
import AtomLogo from "./Atoms/AtomLogo.astro";
// Convert the object to a JSON string
// const primaryNavJSON = JSON.stringify(primaryNav);

let { Theme } = Astro.props;
// if (!Theme) {
//   Theme = "light";
// }
let { showMsgBar } = Astro.props;

let { totalItemCount } = Astro.props;
---

<!-- <div id="NavBar" data-primary-nav={primaryNavJSON}> -->
<div id="NavBar">
  <header
    class="masthead masthead-desktop"
    :class="{ 'NavBar--isScrolled': isScrolled, 'NavBar--isHovered': statusNavBarHovered, 'NavBar--submenuOpen': showSubmenu }"
    id="masthead-desktop"
    ref="navBar"
    data-theme={Theme}
    @mouseleave="handleNavBarMouseLeave"
    @mouseenter="handleNavBarMouseEnter"
    v-cloak
  >
    <div class="primary-nav-container">
      <div class="primary-nav-container__grid-item">
        <!-- <AtomLogo url="/" icon="logo-henk-solo" width="140" height="32" /> -->
        <AtomLogo url="/" icon="logo-henk-solo" width="105" height="24" />
      </div>
      <div class="primary-nav-container__grid-item">
        <nav class="primary-nav">
          <a
            class="primary-nav__link"
            v-for="item in navigationData"
            :key="item.id"
            :href="item.url"
            @mouseover="handlePrimaryNavItemHover(item)"
            @touchstart.passive="handlePrimaryNavItemTouch(item)"
            @click="handlePrimaryNavItemClick(item, $event)"
            @focus="handlePrimaryNavItemHover(item)"
            >[[ item.navTitle ]]
          </a>
        </nav>
        <div class="utilities-nav">
          <ul class="utilities-nav__list">
            <li class="utilities-nav__item" id="utilities-nav__search">
              <a
                href="/en/search-results"
                class="sh-atom-button --icon-search"
                data-style="plain-dark"
              >
                <Icon
                  class="sh-atom-icon"
                  width={IconSizes.Medium}
                  height={IconSizes.Medium}
                  name="icon-search"
                />
                Search
              </a>
            </li>
            <li class="utilities-nav__item" id="utilities-nav__cart">
              <a
                href="/en/cart/list"
                class="sh-atom-button --icon-cart"
                data-style="plain-dark"
                title="Go to your shopping bag"
              >
                <Icon
                  class="sh-atom-icon"
                  width={IconSizes.Medium}
                  height={IconSizes.Medium}
                  name="icon-bag"
                />
                Cart
                {totalItemCount && totalItemCount > 0 ?
                    (totalItemCount < 10 ?
                            <span class="cart__badge">{totalItemCount}</span>
                            :
                            <span class="cart__badge --maxed-out">9<span>+</span></span>
                    )
                    :
                    null
                }
              </a>
            </li>
            <li class="utilities-nav__item" id="utilities-nav__lang">
              <lang-switch data-url={otherURL} title={otherURL} lang={lang}
              ></lang-switch>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <transition appear>
      <div
        class="submenuOverlay"
        v-show="showSubmenu"
        @touchstart.self.passive="handleSubmenuOverlayTouch()"
        @mouseover.self="handleSubmenuOverlayMouseOver()"
      >
        <div class="submenu">
          <div class="gallery-controller">
            <div
              class="gallery-controller__list-container gallery-controller__mask"
            >
              <small class="submenu__heading">[[ submenuHeading]]</small>
              <button
                v-if="currentLevel > 1"
                @click="navigateToPreviousLevel"
                class="gallery-controller__level-back sh-atom-button"
                :class="{ reverse: isGoingBack }"
                data-style="plain"
              >
                <!-- arrow back -->
                <Icon
                  class="sh-atom-icon"
                  width={IconSizes.Small}
                  height={IconSizes.Small}
                  name="icon-arrow-left-nav-back"
                />
                Back
              </button>
              <ol
                class="gallery-controller__list gallery-controller__controls"
                :key="currentLevel"
              >
                <li
                  v-for="(item, index) in currentItems"
                  :key="item.title"
                  class="gallery-controller__list-item"
                  :style="{ 'animation-delay': index * 0.1 + 's', opacity: 0 }"
                >
                  <span
                    class="gallery-controller__level-link"
                    v-if="item.childrenData"
                    x:tabindex="index"
                    @click="navigateToNextLevel(item)"
                    >[[ item.navTitle ]]
                    <!-- arrow right -->
                    <Icon
                      class="sh-atom-icon"
                      width="16"
                      height="16"
                      name="icon-arrow-right-nav-next"
                    />
                  </span>
                  <a v-else :href="item.url" class="page-link">
                    [[ item.navTitle ]]
                  </a>
                  <sup class="highlight" v-if="item.isHighlighted">[[ item.isHighlighted ]]</sup>
                </li>
              </ol>
            </div>
            <!-- <div
              class="gallery-controller__gallery-container"
              v-if="currentItems.length < 5"
            > -->
            <div
              class="gallery-controller__gallery-container"
              v-if="itemsWithImages.length < 5"
            >
              <ol class="gallery-controller__list gallery-controller__gallery">
                <li
                  v-for="(item, index) in itemsWithImages"
                  :key="item.navTitle"
                >
                  <gallery-card :category="item" @navigate="navigateToNextLevel"
                  ></gallery-card>
                </li>
              </ol>
            </div>

            <div
              class="gallery-controller__gallery-container has-swiper"
              v-else
            >
              <swiper-container
                :slides-per-view="4.3"
                :loop="false"
                :speed="500"
                :css-mode="true"
                :space-between="16"
                :navigation="true"
                navigation-prev-el=".custom-prev-button"
                navigation-next-el=".custom-next-button"
              >
                <!-- <swiper-slide
                  v-for="(item, index) in currentItems"
                  :key="item.navTitle"
                > -->
                <swiper-slide
                  v-for="(item, index) in itemsWithImages"
                  :key="item.navTitle"
                >
                  <gallery-card :category="item" @navigate="navigateToNextLevel"
                  ></gallery-card>
                </swiper-slide>
              </swiper-container>
              <div class="custom-prev-button">
                <Icon class="sh-atom-icon" name="icon-arrow-left-nav-back" />
              </div>
              <div class="custom-next-button">
                <Icon class="sh-atom-icon" name="icon-arrow-right-nav-next" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </header>
</div>
<div id="pixel-to-watch"></div>