---
import { getLangFromUrl } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const currentPath = Astro.url.pathname.substring(4);
let otherLang;
if (lang == "nl") {
  otherLang = "en";
} else {
  otherLang = "nl";
}
let otherURL = "/" + otherLang + "/" + currentPath;

// import primaryNav from "../../public/data/navigation_data.json";
import Icon from "./astro/Icon.astro";
import { IconSizes, SvgStructure } from "../../types/iconTypes";
import AtomLogo from "./Atoms/AtomLogo.astro";
// Convert the object to a JSON string
// const primaryNavJSON = JSON.stringify(primaryNav);

const { hasHero } = Astro.props;
let { Theme } = Astro.props;
if (!Theme) {
  Theme = "light";
}

let { totalItemCount } = Astro.props;

// let { showMsgBar } = Astro.props;
---

<div id="NavBarMobile" class="NavBarMobile" data-theme={Theme}>
  <header
    {/*...ariaProperties*/}
    class="masthead masthead-mobile NavBarMobile__header"
    :class="{ 'NavBar--isScrolled': isScrolled, 'NavBar--isOpen': isNavVisible }"
    id="masthead-mobile"
    {/*data-theme={Theme}*/}
    {/*data-show-topmessagebar={showMsgBar}*/}
    v-cloak
  >
    <div class="NavBarMobile__top" ref="NavBarMobile__top">
      <AtomLogo url="/" icon="logo-henk-solo" width="105" height="24" />
      <!-- cart icon/button -->
      <a href="/en/cart/list" class="NavBarMobile__top-link">
        <!-- icon cart here -->
        <!-- <Icon class="sh-atom-icon" width="24" height="24" name="icon-cart" /> -->
        <Icon class="sh-atom-icon" width="24" height="24" name="icon-bag" />
        Cart
        {
          totalItemCount && totalItemCount > 0 ? (
            totalItemCount < 10 ? (
              <span class="cart__badge">{totalItemCount}</span>
            ) : (
              <span class="cart__badge">
                9<span>+</span>
              </span>
            )
          ) : null
        }
      </a>
      <!-- hamburger button -->
      <hamburger-button @click="toggleNav"></hamburger-button>
    </div>
    <nav
      :class="{ 'mobile-nav': true, 'active': isNavVisible }"
      class="NavBarMobile__nav"
    >
      <button
        v-if="currentLevel > 1"
        @click="navigateToPreviousLevel"
        class="sh-atom-button NavBarMobile__button NavBarMobile__button-back"
        :class="{ reverse: isGoingBack }"
        data-style="plain"
      >
        <!-- arrow back -->
        <Icon
          class="sh-atom-icon NavBarMobile__icon-back"
          width="16"
          height="16"
          name="icon-arrow-left-nav-back"
        />
        Back
      </button>
      <ol class="NavBarMobile__list" :key="currentLevel">
        <li
          v-for="(item, index) in (currentLevel === 1 ? navigationData : currentItems)"
          :key="item.title"
          class="NavBarMobile__list-item"
          :style="{ 'animation-delay': index * 0.15 + 's', opacity: 0 }"
        >
          <span
            v-if="item.childrenData"
            class="NavBarMobile__button NavBarMobile__button-next-level"
            @click="handleMobileNavItemClick(item)"
          >
            [[ item.navTitle ]]
            <Icon
              class="sh-atom-icon"
              width="16"
              height="16"
              name="icon-arrow-right-nav-next"
            />
          </span>
          <a v-else :href="item.url" class="page-link"> [[ item.navTitle ]]</a>
        </li>
      </ol>
    </nav>
    <div class="utils-bar">
      <!-- <a href="/en/stores" class="utils-bar__link">Stores</a>
      <a href="/en/contact" class="utils-bar__link">Contact</a> -->
      <!-- langSwitch -->
      <lang-switch data-url={otherURL} title={otherURL} lang={lang}
      ></lang-switch>
      <a href="/en/search" class="utils-bar__link">
        <!-- Search -->
        <Icon
          class="sh-atom-icon"
          width={IconSizes.Small}
          height={IconSizes.Small}
          name="icon-search"
        />
      </a>
    </div>
  </header>
</div>
<div id="pixel-to-watch-mobile"></div>
