---
import Icon from "./Icon.astro";
const navLinks = [
    {
        name: 'Shop',
        url: '#Shop',
        style: 'transparent',
        submenu: [
            {
                name: 'Tables',
                url: '#tables',
                submenu: [
                    {
                        name: 'All Tables',
                        url: '#tables',
                    },
                    {
                        name: 'Dining Tables',
                        url: '#dining-tables',
                    },
                    {
                        name: 'Coffee Tables',
                        url: '#coffee-tables',
                    },
                    {
                        name: 'Home Desks',
                        url: '#home-desks',
                    },
                    {
                        name: 'Bistro Tables',
                        url: '#bistro-tables',
                    }
                ]
            },
            {
                name: 'Chairs',
                url: '#chairs',
                submenu: [
                    {
                        name: 'All Chairs',
                        url: '#all-chairs',
                    },
                    {
                        name: 'Dining Chairs',
                        url: '#dining-chairs',
                    }
                ]
            },
            {
                name: 'Sofas',
                url: '#sofas',
                submenu: [
                    {
                        name: 'All Sofas',
                        url: '#all-sofas',
                    },
                    {
                        name: 'Sofas',
                        url: '#sofas',
                    },
                    {
                        name: 'Poufs',
                        url: '#poufs',
                    }
                ]
            },
            {
                name: 'Cabinets',
                url: '#cabinets',
            },
            {
                name: 'Accessories',
                url: '#accessories',
            },
            {
                name: 'Outdoor',
                url: '/en/outdoor',
            }
        ]
    },
    {
        name: 'Configurator',
        url: '#Configurator',
        style: 'transparent',
        submenu: null,
    },
    {
        name: 'Samples',
        url: '#Samples',
        style: 'transparent',
        submenu: null,
    },
    {
        name: 'Visit',
        url: '#Visit',
        style: 'transparent',
        submenu: [
            {
                name: 'Our Stores',
                url: '/en/shops',
            },
            {
                name: 'Interior advice',
                url: '/en/advice',
            }
        ]
    },
    {
        name: 'Inspiration',
        url: '#',
        style: 'transparent',
        submenu: [
            {
                name: 'Stories',
                url: '/en/blogs',
            },
            {
                name: 'Projects',
                url: '/en/projects',
            }
        ]

    },
    {
        name: 'About',
        url: '/en/about-us',
        style: 'transparent',
        submenu: null,
    },
    {
        name: 'Search',
        url: '#',
        style: 'transparent',
        submenu: null,
    },
    {
        name: 'Language',
        url: '#',
        style: 'transparent',
        submenu: null,
    }
]
---
<nav class="nav-bar-mobile" id="nav-bar-mobile">
    <ul class="nav-bar-mobile__link-list --nav-level1">
        {
            navLinks.map((link, index) => (
                <li role="none" class={ link.submenu ? '--has-submenu' : '' }>
                    <a
                        class={link.submenu ? 'subview-link' : ''}
                        href={link.url}
                    >{link.name} {
                        link.submenu ?
                            <Icon
                                icon="arrow-nav-bar"
                                class="icon-arrow-navbar"
                                width="20"
                                height="16"
                            /> : ''
                    }
                    </a>
                    {
                        (link.submenu != null) &&
                        <ul class="submenu --nav-level2" id={link.name}>
                            <li>
                                <a href="#back" class="--back">
                                    <Icon
                                        icon="arrow-nav-bar-back"
                                        class="icon-arrow-navbar"
                                        width="20"
                                        height="16"
                                    />
                                    Back
                                </a>
                            </li>
                            {
                                link.submenu.map(subitem => (
                                    <li class={ subitem.submenu ? '--has-submenu' : '' }>
                                        <a
                                            href={subitem.url}
                                            class={subitem.submenu ? 'subview-link' : ''}
                                        >{subitem.name} { subitem.submenu ?
                                            <Icon
                                                icon="arrow-nav-bar"
                                                class="icon-arrow-navbar"
                                                width="20"
                                                height="16"
                                            /> : ''
                                        }
                                        </a>
                                        {
                                            (subitem.submenu != null) &&
                                            <ul class="submenu --nav-level3">
                                                <li>
                                                    <a href="#back" class="--back">
                                                        <Icon
                                                            icon="arrow-nav-bar-back"
                                                            class="icon-arrow-navbar"
                                                            width="20"
                                                            height="16"
                                                        />
                                                        Back
                                                    </a>
                                                </li>
                                                {
                                                    subitem.submenu.map(subsubitem => (
                                                        <li>
                                                            <a href={subsubitem.url}>
                                                                {subsubitem.name}
                                                            </a>
                                                        </li>
                                                    ))
                                                }
                                            </ul>
                                        }
                                    </li>
                                ))
                            }
                        </ul>
                    }
                </li>
            ))
        }
    </ul>
</nav>