---
const {
  caption = "Here should be a caption text",
  hasLink = false,
  linkTitle,
  imgUrl,
  imgWidth,
  imgHeight,
  altText,
  borderRadius,
  foregroundColor = "currentcolor",
  backgroundColor = "transparent",
} = Astro.props;
---

<div class="nav-card">
  <a
    href={hasLink}
    class="nav-card__link hover-interaction-c-2"
    title={linkTitle}
  >
    <div class="nav-card__image-mask">
      <img
        src={imgUrl}
        class="nav-card__image"
        alt={altText}
        width={imgWidth}
        height={imgHeight}
        decoding="async"
        loading="eager"
      />
    </div>
    <p class="nav-card__caption hover-interaction-c-2-target">{caption}</p>
  </a>
</div>