---
import BaseLayout from "../../layouts/BaseLayout.astro";
import {getOtherLang} from "../../i18n/helpers.js";
export function getStaticPaths() {
    return [
        {params: {lang: 'en', collections: 'collections'}},
        {params: {lang: 'nl', collections: 'collecties'}},
    ];
}
const {lang, collections} = Astro.params;
const otherLang = getOtherLang(lang);
const languages = getStaticPaths();
const otherLangData = languages[otherLang].params;
---
<BaseLayout title="Collections">
    <h1>hello: {lang} - {collections}</h1>
    <p>This page in the other language is at: url here: {otherLangData.collections} - {otherLangData.lang}</p>
</BaseLayout>