---
// import Icon from "../Icon.astro";
// import { Icon } from 'astro-icon/components';

import Icon from "../astro/Icon.astro";
const { text, icon, iconPosition, hasLink } = Astro.props;
---
{
    hasLink ?
        <span
            class="sh-atom-tag"
            data-haslink={hasLink}
        >
        <a href={hasLink} class="sh-atom-tag__link">
            {iconPosition === "left" &&
            <Icon
                name={icon}
                data-size=""/>
            }
            {text}
            {
                iconPosition === "right" && <Icon
                    name={icon}
                    data-size=""
                />
            }
        </a>
      </span>
    : <span class="sh-atom-tag">
        {iconPosition === "left" &&
            <Icon
                name={icon}
                data-size=""/>
        }
        {text}
        {
            iconPosition === "right" && <Icon
                name={icon}
                data-size=""
            />
        }
      </span>
}